.collectionContainer{
    background-color: #9bb79d;
    padding:10px;
}

.ImageGrid{
    width:100%;
}

.photo1, .photo2, .photo3, .photo4, .photo5 {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
}
 
.photo1 {
    background-image: url("../../assets/1.jpg");
} 

.photo2 {
    background-image: url("../../assets/2.jpg");
} 

.photo3 {
    background-image: url("../../assets/3.jpg");
} 

.photo4 {
    background-image: url("../../assets/4.jpg");
} 

.photo5 {
    background-image: url("../../assets/5.jpg");
} 


.header {
    color:#fff;
}