body{
    background-color: #a6b489;
}

.title {
    font-family: 'Proxima Nova', sans-serif;
    color: black;
    font-style: bold;
    font-size: 52px;
    text-align: center;
}

.navigation{
    display: flex;
}

.navlinks{
    width:33.33%;
}

button {
    font-family: 'Proxima Nova', sans-serif;
    background-color: #173117;
    border-radius: 6px;
    cursor: pointer;
    height: 44px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    color: lightgray;  
    margin-top: 5px;  
}

.page{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* change font */
#product_list{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Proxima Nova', sans-serif;
}

.item {
    width: 33.33%;
}

.clientTitle {
    font-family: 'Proxima Nova', sans-serif;
    font-style: italic;
}

.clientPage {
    font-family: 'Proxima Nova', sans-serif;
}
 
.productsTitle {
    font-family: 'Proxima Nova', sans-serif;
    font-style: italic;
}

/* sort ascending and descending */
.sort-buttons {
    display: flex;
    flex-direction: column;/* Aligns buttons to the right */
    align-items: flex-end;
    margin-top: 20px; /* Adds some space above the buttons */
    flex: 1;
}

/* font change */
.filter-label {
    font-family: 'Proxima Nova', sans-serif;
}

.breadcrumbs {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
  }

  .breadcrumb-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60px;
    text-align: center;
    cursor: pointer;
  }

  .breadcrumb-number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #173117;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 5px;
    font-family: 'Proxima Nova', sans-serif;
  }

  .breadcrumb-name {
    color: #333;
    font-weight:bold;
    font-family: 'Proxima Nova', sans-serif;
  }

  .breadcrumb-line {
    flex: 1;
    height: 2px;
    background-color: #173117;
    margin: 0 10px;
    font-family: 'Proxima Nova', sans-serif;
    border-radius: 10px;
    
  }

/*Highlight breadcrumb line*/
  .breadcrumb-active .breadcrumb-number {
    background-color: #173117; /* Active state background color */
}

.breadcrumb-active .breadcrumb-name {
    font-weight: bold; /* Make the active breadcrumb text bold */
}

.breadcrumb-item:hover .breadcrumb-number,
.breadcrumb-item:hover .breadcrumb-name {
    background-color: #173117; /* Hover effect for breadcrumb item */
    color: white;
}

.breadcrumb-item:hover .breadcrumb-line {
    background-color: #0f1d0f; /* Hover effect for the line */
}


  
/* font change */
  .CartTitle {
    color: black;
    font-family: 'Proxima Nova', sans-serif;
    font-style: italic;
  }

  /* column and row changes for cart page to realign texts*/
  .column {
    color: black;
    font-family: 'Proxima Nova', sans-serif;
    flex: 2;
    text-align: center;
  }

  .row {
    color: black;
    font-family: 'Proxima Nova', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #ddd; 
}

    /* font change */
  .cart {
    color: black;
    font-family: 'Proxima Nova', sans-serif;
  }

  /* make total look more polished */
  .cart-total {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #173117;
    background-color: #eef5ee;
    padding: 15px 30px; 
    border-radius: 10px; 
    margin: 20px auto;
    display: inline-block; 
    justify-content: flex-end;
}

.signature {
    font-family: 'Proxima Nova', sans-serif;
    color: darkslategrey;
    font-style: italic;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
}

.signature-container {
    display: flex;
    justify-content: center;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}