body{
    background-color: #a6b489;
}

.title {
    font-family: 'Proxima Nova', sans-serif;
    color: black;
    font-style: bold;
    font-size: 52px;
    text-align: center;
}

.navigation{
    display: flex;
}

.navlinks{
    width:33.33%;
}

button {
    font-family: 'Proxima Nova', sans-serif;
    background-color: #173117;
    border-radius: 6px;
    cursor: pointer;
    height: 44px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    color: lightgray;  
    margin-top: 5px;  
}

.page{
    text-align: center;
}

#product_list{
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Proxima Nova', sans-serif;
}

.item {
    width: 33.33%;
}

.clientTitle {
    font-family: 'Proxima Nova', sans-serif;
    font-style: italic;
}

.clientPage {
    font-family: 'Proxima Nova', sans-serif;
}
 
.productsTitle {
    font-family: 'Proxima Nova', sans-serif;
    font-style: italic;
}

.cartTitle {
    font-family: 'Proxima Nova', sans-serif;
    font-style: italic;
}

.signature {
    font-family: 'Proxima Nova', sans-serif;
    color: darkslategrey;
    font-style: italic;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
}

.signature-container {
    display: flex;
    justify-content: center;
}


.breadcrumbs {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .breadcrumb-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60px;
    text-align: center;
    cursor: pointer;
  }

  .breadcrumb-number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #173117;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .breadcrumb-name {
    color: #333;
    font-weight:bold;
  }

  .breadcrumb-line {
    flex: 1;
    height: 2px;
    background-color: #173117;
    margin: 0 10px;
  }

  .breadcrumb-item:hover .breadcrumb-number {
    background-color: #173117;
  }